---
// src/pages/about.astro
import AboutSection from '../components/AboutSection.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import NavBar from '../components/NavBar.astro';
---
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí - Alejandro Figueroa</title>
    <link rel="stylesheet" href="/src/styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">

</head>
<body>
   <Header/>
   <NavBar/>
   <AboutSection/>
   <Footer/>
</body>
</html>
