---
// src/pages/index.astro
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';

import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Desarrollador UI</title>
</head>
<body>
    <Header />
    <HeroSection />

	<AboutSection/>
	

    <Footer />
</body>
</html>
