---
// src/pages/index.astro
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectCard from '../components/ProjectCard.jsx';

import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Desarrollador UI</title>
</head>
<body>
	<Header />
	<NavBar/>
    <HeroSection />

	<div class="project-container">
	<ProjectCard
		title="Landing Pasteleria Italiana"
		description=""
		imageUrl="/assets/images/p1.webp"
		link={"/projects/1"}/>

		<ProjectCard 
		title='Crud'
		description=''
		imageUrl="/assets/images/p2.webp"
		link={'/projects/2'}/>

		<ProjectCard 
		title='API'
		description=''
		imageUrl="/assets/images/p3.webp"
		link={'/projects/2'}/>

		<ProjectCard 
		title='App Restaurant'
		description=''
		imageUrl="/assets/images/p4.webp"
		link={'/projects/4'}/>

	</div>
</body>
</html>
