---
// src/pages/index.astro
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectCard from '../components/ProjectCard.astro';


import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio - Desarrollador UI</title>
</head>
<body>

    
	<Header />
	<NavBar/>
    <HeroSection />
    <Footer/>

	
</body>
</html>
