---

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import '../styles/global.css';

---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos - Alejandro Figueroa</title>
    <link rel="stylesheet" href="/src/styles/global.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
</head>

<body>
    <Header/>
    <NavBar/>

    <ProjectCard
    title=""
    description=""
    imageUrl="/assets/images/p1.webp"
    link={"/projects/1"}
    footerText="Pasteleria Italiana"
  />



  <ProjectCard
    title=""
    description=""
    imageUrl="/assets/images/p2.webp"
    link={"/projects/2"}
    footerText="Crud App"
  />



  <ProjectCard
    title=""
    description=""
    imageUrl="/assets/images/p3.webp"
    link={"/projects/3"}
    footerText="API Rest Countries"
  />

  <ProjectCard
    title=''
    description=""
    imageUrl="/assets/images/p4.webp"
    link={"/projects/4"}
    footerText="App Restaurant"
  />

  <ProjectCard
    title=''
    description=""
    imageUrl="/assets/images/p5.webp"
    link={"/projects/5"}
    footerText="E-commerce"
  />

  <ProjectCard
    title=''
    description=""
    imageUrl="/assets/images/p6.webp"
    link={"/projects/6"}
    footerText="Weather App"
  />
  
  <Footer/>
     

</body>
</html>
