---
import NavBar from "../components/NavBar.astro";
import ProjectCard from "../components/ProjectCard";


---

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos - Alejandro Figueroa</title>
    <link rel="stylesheet" href="/src/styles/global.css">
</head>

<NavBar/>
<ProjectCard
title="Landing Pasteleria Italiana"
description=""
imageUrl="/assets/images/p1.webp"
link={"/projects/1"}
/>

<ProjectCard
title="Crud App"
description=""
imageUrl="/assets/images/p2.webp"
link={"/projects/2"}
/>

<ProjectCard
title="API Rest Countries"
description=""
imageUrl="/assets/images/p3.webp"
link={"/projects/3"}
/>

<ProjectCard
title='App Restaurant'
description=""
imageUrl="/assets/images/p4.webp"
link={"/projects/4"}
/>

<ProjectCard
title='E-commerce'
description=""
imageUrl="/assets/images/p5.webp"
link={"/projects/5"}
/>

<ProjectCard
title='App Weather'
description=""
imageUrl="/assets/images/p6.webp"
link={"/projects/6"}
/>