---
// src/components/Footer.astro
---
<footer class="footer">
    <p class="footer-text">&copy; Alejandro Figueroa 2024. All rights reserved.</p>
  </footer>
  
  <style>
  .footer {
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0%;
    background-color: #f9f9f9;
  }

  .footer-text {
    font-size: 0.8rem;
    font-family: 'Jost';
  
  }
  </style>
