---
// src/components/Footer.astro
---
<footer class="footer">
    <p>&copy; 2024 My cosi cosige. todos los  reservados</p>
  </footer>
  
  <style>
  .footer {
   margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    
  }
