---
// src/components/Header.astro
---
<header class="header">
    <nav class="navbar">
   
      <ul class="nav-links">
        <li><a href="https://github.com/AlejandroArafi"><img src="/public/assets/images//github.png" alt="Github" class="icon"/></a></li>
        <li><a href="#https://www.linkedin.com/in/luis-alejandro-figueroa-aravena-9a289b9b/?originalSubdomain=au"> <img src="/assets/images/linkedin.png" alt="" class="icon"></a></li>
    
      </ul>
    </nav>
  </header>
  
  <style>
  .header {
    /*background: #2A2A2A;*/
    color: white;
    padding: 1rem;
  }
  .navbar {
    display: flex;
    justify-content: end;
    align-items: center;
  }
 
  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
 

  </style>
  